<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOdB4QpoAmzp5ic0r6wCm5vGHk4Gzabrc</string>
	<key>GCM_SENDER_ID</key>
	<string>608572692640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gestionProjet2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gestionprojet2-49ceb</string>
	<key>STORAGE_BUCKET</key>
	<string>gestionprojet2-49ceb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608572692640:ios:bd8d87f99d17ef64f311c5</string>
</dict>
</plist>